* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Headings */

header {
  background-color: #4b4b4c;
  color: #f5f6fa;
  border-bottom: 2px solid #f39c12;
}

/* Nav */
nav {
  min-height: 5vh;
  display: flex;
  width: 90%;
  margin: auto;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}

.nav-a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav-a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-a:hover::before {
  visibility: visible;
  width: 100%;
}

#logo {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  margin-top: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

#sun-icon {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  color: #f39c12;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("images/Food1.jpg");
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#main-h1 {
  font-size: 5rem;
  border-bottom: white dashed 2px;
  font-family: "Xanh Mono", monospace;
}

#main-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  padding-bottom: 3rem;
}

#mission {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#catchphrase {
  font-family: "Playfair Display", serif;
  padding-bottom: 2rem;
  font-size: 2rem;
  border-bottom: 2px black dashed;
}

p {
  padding-top: 2rem;
  font-size: 1.3rem;
  width: 60%;
}

/*Buttons and A tags */

#menu-btn {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem 0.5rem;
  border: solid 1px white;
  border-radius: 0.2rem;
}

#menu-btn:hover {
  background-color: gainsboro;
  color: black;
  transition: ease-in-out 0.5s;
}

#about-btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem 0.5rem;
  border: solid 1px black;
  border-radius: 0.2rem;
}

#about-btn:hover {
  background-color: gainsboro;
  color: white;
  transition: ease-in-out 0.5s;
}

/* Footer */
#info {
  display: flex;
  flex-direction: row;
  height: 10vh;
  background: darkgrey;
}

#left-content {
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-start;
  padding: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f1c40f;
  font-size: 1.5rem;
  padding: 10px;
  padding-top: 10rem;
}

span {
  font-size: 1rem;
  color: black;
}
